<div id="container">

	

<h2 style="font-size:30px">香港中文大学国际对外汉语教师协会章程</h2>
2013年1月
<br/><br/>

第一条	总则
<ul>
	<li>1.1	香港中文大学国际对外汉语教师协会章程（以下简称协会），2013年3月于香港注册成立。</li>
	<li>1.2	本协会的章程和附则，目的是为有意参与协会各项活动的教育工作者、及协会各组织框架之工作人员提供指引。</li>
</ul>
<br/><br/>

第二条	宗旨
<ul>
	<li>2.1 本协会是一个多元化及多功能的组织，其活动旨在弘扬汉语言文化、加强两岸三地乃至全球各地的对外汉语教师之间的交流与学习、丰富对外汉语教师的专业知识、加强教师之间的交流与互助、以及为教师提供适当的就业职位介绍等。</li>
	<li>2.2 协会的目标包括
	2.2.1 弘扬汉语言文化、传播汉语言精神。
	2.2.2 提供一个中立和没有阶级观念的环境，鼓励教师互相切磋和交流经验，尤其是为大陆与港澳台地区之间的对外汉语教师交流提供一个有效的平台。
	2.2.3 配合教师需要，举办演讲、讲座、研讨会、研习班、网络远程培训等，以推动对外汉语教师的专业发展。
	2.2.4 鼓励教师设计和试用新教材和教学法。
	2.2.5 通过各种途径，例如简讯、网页、杂志、期刊、电子邮件、电子读物和展览等，向教师提供有关对外汉语教学领域的发展动向、教育情况、教学资源、职位介绍等消息。
	2.2.6 配合教师的兴趣，组织各种社交及文娱活动。
	2.2.7 为教师提供专业方面的咨询服务。</li>
</ul>
<br/><br/>

第三条	会员
<ul>
	<li>3.1 下列人士均可申请成为个人会员：
	3.1.1 所有具有丰富教学经验的对外汉语教师（包括专职、兼职教师）。
	3.1.2 相关专业的在读本科生、研究生、博士生及毕业生。
	3.1.3 有志于成为对外汉语教师或有志于未来在对外汉语领域发展的各界人士。</li>
	<li>3.2 任何教育团体或机构若要加入本协会成为团体会员，必须具备以下条件：
	3.2.1 该团体或机构必须经中华人民共和国国家工商行政管理总局及下属各地工商行政管理局或分局正式注册、或香港政府社团注册处、或职工会登记局、或注册总署之公司注册处批准正式注册、或经社团注册处书面批准豁免注册。
	3.3.2 该团体或机构必须认同教师中心的宗旨。</li>
	<li>3.3 个人或团体与机构申请者必须填妥申请表格，团体与协会提交相关注册文件及会章，经理事会批准之后，可成为本协会会员。</li>
	<li>3.4 除3.1至3.3条内所列的会员资格外，其他人士、机构或团体赞同本协会的宗旨，经理事会接纳和通过，亦可成为本协会会员。</li>
	<li>3.5 会员入会后可享受的服务与福利可参照本章程第二条2.2中所列协会目标中所包含各项。</li>
	<li>3.6 会员若有资料更新，须尽快通知本协会。如本协会通过不同途径，例如邮件、电话及电子邮件而仍未能联络上的会员，其会籍经理事会通过后会被冻结，会籍冻结期为一年。有关会员若能在会籍冻结期间内更新资料，经理事会同意便可恢复会籍；否则其会籍便告取消。如欲再次成为会员，须重新申请入会。</li>
	<li>3.7 凡会员退会者，须书面通知当届理事会。</li>
</ul>
<br/><br/>

第四条	常务理事会
<ul>
	<li>4.1 本协会设常务理事会（以下简称理事会）。</li>
	<li>4.2 理事会为协会的决策与执行组织，每届举行不少于三次会议。</li>
	<li>4.3 理事会的权职范围是对下列事项做出决策与执行。
	4.3.1 策划与组织协会的活动。
	4.3.2 鼓励教师参与策划及推进协会对于新教材与教学法的研究与改进。
	4.3.3 策划或与相关组织、专家联络，为教师提供切合实际需要的进修培训课程、讲座等，
	4.3.4 出版协会刊物或电子刊物，籍以传播对外汉语领域资讯。</li>
	4.3.5 组建协会网站与教师论坛等各项网络项目，为协会会员提供方便、快捷、有效的网络交流与信息获取平台。
	4.3.6 决策协会的人力及资源调配等问题。
	4.3.7 促进协会的发展与扩大，在各地设立协会分支或联络人，评定各分支的工作成果与决定其负责人人选。
	<li>4.4 在下列情况下，会长亦可召开理事会会议：
	4.4.1 理事会议决请求召开；或
	4.4.2 由不少于理事会三分之一理事会成员联名请求召开。</li>
	<li>4.5 每届理事会为期两年，从该届四月一日开始，至任期届满年的三月三十一日终止。</li>
	<li>4.6 理事会设席位十五位，由各分支负责人及团体会员负责人提名选举。</li>
	<li>4.7 由理事会所有成员选举产生一位会长及两位副会长，任期均为一届，连选可连任，但会长不得连任超过三届。</li>
</ul>
<br/><br/>

第五条	会议法定人数
<ul>
	<li>5.1 理事会任何会议须有超过三分之一理事会成员出席，方可构成法定人数。如在半小时内为构成法定人数，则由会长宣布流会。会长须于一个月内，依原议程再行召开之，但须再发通知书，详列原因，于开会前最少十四日送交各理事会成员。届时，不论出席成员人数多少均作合法人数论。遇会长及副会长均不能出席会议，由当次出席会议的成员中推选其中一位出任临时会长。该被选举者应获得超过半数的信任票。</li>
</ul>
<br/><br/>

第六条	协会分会
<ul>
	<li>6.1 理事会可全球各地设立分会负责策划及推动当地的教师协会的活动，其数目、规模、性质须视乎发展情况予以增减。原则上最大范围为地区，最小范围为城市。</li>
	<li>6.2 分会首位负责人由理事会委任。分会负责人任期为两年，首届过后由各地分会会员选举产生下一届负责人提名，由理事会审议通过后方可就任。连选可连任。</li>
	<li>6.3 分会负责人负责分会的日常运作与人事任命。此负责人须向理事会负责，并负责提交年度预算与年度工作报告等。</li>
	<li>6.4 理事会负责评价分会负责人的工作成果，并有罢免权。</li>
	<li>6.5 各分会不论负责区域大小，在行政级别上相同。</li>
	<li>6.6 分会的各项活动依照《分会活动规范》进行。</li>
</ul>
<br/><br/>

第七条	学校联络代表
<ul>
	<li>7.1 学校联络代表须由该学校教师或在读学生、毕业生出任。</li>
	<li>7.2 学校联络代表可在校内范围内通过组织社团、小组等形式吸收会员、组织活动。</li>
	<li>7.3 首任学校联络代表由协会理事会委任，或经各地分会推荐至理事会审议任命。任期为两年，若该代表离职，则由该校社团、小组成员选举产生负责人提名，经理事会审议后任命。若该校无社团或小组则由理事会直接任命，或经各地分会推荐至理事会审议任命。</li>
	<li>7.4 学校联络代表主要负责在该校校内吸收会员，并可适时策划各种类型活动。</li>
	<li>7.5 学校联络代表直接向协会理事会负责，提交活动预算与活动总结。</li>
	<li>7.6 理事会负责评价学校联络代表的工作成果，并有罢免权。</li>
	<li>7.7 各学校中开展活动时，亦需依照《分会活动规范》中相关规范进行。</li>
</ul>
<br/><br/>

第八条	财政
<ul>
	<li>8.1 本协会财政来源包括下列各项：
	8.1.1社会捐助。接受捐助对象包括个人、社会团体、组织、公司等。但协会亦有拒绝接受捐助的权利；
	8.1.2 会费；
	8.1.3 利息
	8.1.4 其他合法收入</li>
	<li>8.2 会费征收办法如下：
	8.2.1 团体会员每年三百元人民币或等值外币。
	8.2.2 个人会员无需交纳会费。</li>
	<li>8.3 所有经费之用途，除作会务与活动之经常费用外，其盈余皆作为拓展协会之用途。</li>
	<li>8.4 理事会须负责拟定每年的开支预算。</li>
	<li>8.5 预算草案经审议后生效，须向协会内工作人员、会员及社会公示。</li>
	<li>8.6 理事会须负责监察协会、协会分会、学校社团的账项及财政。</li>
	<li>8.7 本协会的财政年度由每年的四月一日起至翌年三月三十一日止。</li>
	<li>8.8 本协会解散后资产全部用于慈善用途。</li>
</ul>
<br/><br/>

第九条 修章
<ul>
	<li>9.1 任何修章建议，须先征得理事会成员五人联名同意，方可列入议程，并经理事会三分之二出席成员通过，方为有效。</li>
	<li>9.2 所有修章议程，必须于会议举行前十四天提出，方可列入议程。</li>
</ul>
<br/><br/>

附则

第一条 解释权
<ul>
	<li>1.1 本章程的解释权属本协会当届理事会。</li>
</ul>
<br/><br/>

第二条 效力起止之日
<ul>
	<li>2.1 本章程自社团登记管理机构核准之日起生效。</li>
	<li>2.2 本章程至社团解散之日起失效。</li>
</ul>
<br/><br/>

第三条 理事会组织结构
<ul>
	<li>3.1 职务与职能
	3.1.1 会长：主持会议及主理会务之进行
	3.1.2 副会长：辅理会务之进行。会长缺席会议时可暂代其职。
	3.1.3 秘书：负责本协会对内及对外书信记录等文字工作。
	3.1.4 财政：处理本会财务来往及账目记录。
	3.1.5 宣传：对内及对外所有资料搜集和传送。
	3.1.6 总务：负责协助各理事推行各种会务。
	3.1.7 联络：负责本会对内及对外之联络工作。</li>
	<li>3.2本协会可聘请对外汉语相关领域的知名教授、教师或社会人士出任名誉会长。负责向协会提供咨询与建议，但不参与决策。</li>
	<li>3.3 兼任与代理
	3.3.1 除不得同时兼任会长与副会长之职务外，理事会成员可兼任最多三个理事会职务。
	3.3.1 会长暂缺时可由理事会成员推选副会长之一代理会长职务并代理履行会长职能。</li>
</ul>

</div>