<div id="container">
	<h2>The International TCFL Teachers Association Articles of Association of the Chinese University of Hong Kong</h2>
	<h3>General Provisions</h3>

	<ul>
	<li>1.1 The International TCFL Teachers Association Articles of Association of the Chinese University of Hong Kong (hereinafter referred to as the Association), incorporated in Hong Kong in March 2013.</li>
	<li>1.2 Association constitution and by-laws, the purpose is to provide guidelines for educators interested in participating in the activities of the Association, and the framework of the Association of the organizations staff.</li>
	</ul>
</div>