#news_list #center{
	background:white;
	margin-bottom:100px;
	-moz-box-shadow: 0 0 5px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 5px 0px rgba(0,0,0,0.2);
	box-shadow: 0 0 5px 0px rgba(0,0,0,0.2);
}
#center_news
{
	width:1000px;
}
.entry {
	overflow: hidden;
	width:850px;
	margin-left:auto;
	margin-right:auto;
	padding:1em 2em;
	background: white;
	border-bottom:1px solid rgba(0,0,0,0.1);
}
.entry:last-child
{
	border-bottom:none;
}
.entry .image
{
	display:block;
	width:200px;
	float:left;
}
.entry .text
{
	display:block;
	width:650px;
	float:left;
}
.entry .title {
	font-size: 120%;
	display:inline-block;
}
.entry img {
	max-width: 200px;
	max-height:100px;
}
.entry .author
{
	color:#ccc;
	font-size:80%;
	float:right;
}
.entry p
{
	margin:5px 0;
	font-size:0.9em;
}
.entry a
{
	font-size:0.9em;
	color:#9ccdd9;
}
.entry a:hover
{
	color:#d9c79c;
}
/* news */
.news .entry img
{
	float:left;
}